<div class="main">
    <ol class="navbar">
        @for (r of routeArray; track $index) {
        <li>
            <button (click)="toggleRoute(r.url)">{{ r.label }}</button>
        </li>
        }
    </ol>
    
    <router-outlet></router-outlet>

    @if (togglescreen) {
    <div class="splash1" [@stoggle]>
        @if (togglescreenspan) {
        <span [@sToggleInBorder]>
            @if (togglescreenspanloader) {
            <div [@sToggleBorderLoader] class="loadbar"></div>
            }
        </span>
        }
    </div>
    <div class="splash2" [@stoggle]>
        @if (togglescreenspan) {
        <span [@sToggleInBorder]>
            @if (togglescreenspanloader) {
            <div [@sToggleBorderLoader] class="loadbar"></div>
            }
        </span>
        }
    </div>
    }

</div>