/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;300;400;700&family=Raleway:ital,wght@1,100&display=swap');

:root {
    --primary-font: "Poppins"
}

body {
    margin: 0px;
    padding: 0px;
}

/* html, body { height: 100vh; } */
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: #273040; */
    height: 100vh;
    background: #111111;
    /* background: linear-gradient(70deg, rgba(255, 180, 0, 1) 30%, #111111 0%); */
}


/* Title Css For Different Pages  */
.title {
    position: relative;
    margin-top: 45px;
    margin-bottom: 30px;
}

.title h1 {
    font-size: 56px;
    text-align: center;
    font-weight: 900 !important;
    color: #fff !important;
    text-transform: uppercase;
    margin: 0;
}

.title h1 span {
    color: #ffb400;
}

.title .title-bg {
    text-align: center;
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;

    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.07);
}

/* ---------------END------------------  */