<div class="main">
    <div class="header-img">
        <img src="/assets/profile_photo.png" alt="">
    </div>
    <div class="header-body">
        <div class="head">
            <h4>I'M DEEVANSHU.</h4>
            <h4>TECH GREEK</h4>
        </div>
        <p>
            I'm a Tunisian based web designer & front‑end developer focused on crafting clean & user‑friendly
            experiences, I am passionate about building excellent software that improves the lives of those around me.
        </p>
        <button class="more-about-me">
            MORE ABOUT ME
        </button>
    </div>
</div>